.card-fruit {
  border: 2px solid;
  padding: 1em;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all 400ms ease-out;

  &.has-items {
    border-color: #44fc5f;
  }
  
  &.no-items {
    border-color: #c9c9c9;
  }
  
  &.error-items {
    border-color: #ff6d19;
  }  
}